<div id="categories">
	<!-- Categories Group -->
	<div class="categories-group">
		<div class="container">
			<div class="four columns"><h4>E-commerce</h4></div>
			<div class="four columns">
				<ul>
					<li><a href="#">Tech Leader</a></li>
					<li><a href="#">Graphic Designer</a></li>
					<li><a href="#">Customer Service</a></li>
					<li><a href="#">Operation Leader</a></li>
					
				</ul>
			</div>
			<div class="four columns">
				<ul>
					<li><a href="#">Developer</a></li>
					<li><a href="#">IOS/ANDROID Developer</a></li>
					<li><a href="#">Marketing 	</a></li>
				</ul>
			</div>
			
		</div>
	</div>

	<!-- Categories Group -->
	<div class="categories-group">
		<div class="container">
			<div class="four columns"><h4>Sport Player</h4></div>
			<div class="four columns">
				<ul>
					<li><a href="#">Basket Ball</a></li>
					<li><a href="#">Football</a></li>
					<li><a href="#">Fitness</a></li>
					<li><a href="#">Yoga</a></li>
			
				</ul>
			</div>
			<div class="four columns">
				<ul>
					<li><a href="#">Handball</a></li>
					<li><a href="#">kayaking</a></li>
					<li><a href="#">Swimming Illustrator</a></li>
					<li><a href="#">Ballet</a></li>
					
				</ul>
			</div>
			
		</div>
	</div>

	<!-- Categories Group -->
	<div class="categories-group">
		<div class="container">
			<div class="four columns"><h4>Sales & Marketing</h4></div>
			<div class="four columns">
				<ul>
					<li><a href="#">Display Advertising</a></li>
					<li><a href="#">Email Marketing</a></li>
					<li><a href="#">Lead Generation</a></li>
					<li><a href="#">Market & Customer Research</a></li>
				</ul>
			</div>
			<div class="four columns">
				<ul>
					<li><a href="#">Marketing Strategy</a></li>
					<li><a href="#">Public Relations</a></li>
					<li><a href="#">Telemarketing & Telesales</a></li>
					<li><a href="#">Other - Sales & Marketing</a></li>
				</ul>
			</div>
			
		</div>
	</div>

</div>
