<style type="text/css">
  .parallax {
  /* The image used */
  background-image: url('/assets/images/pic.png');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
</style>
<body ng-controller="mainCtrl">
<div id="wrapper">


<!-- Header
================================================== -->



<!-- Banner
================================================== -->
<div id="banner" class="with-transparent-header parallax background" style="overflow:hidden;background:transparent;position: relative;width: 100%;height: 100%" data-img-width="2000" data-img-height="1330" data-diff="300">
	<video class="fullscreen-bg-content" autoplay loop muted src="assets/images/decathlon.mp4"
			style="position:absolute;min-width: 100%;min-height: 100%;top:0;left:0"></video>
	<div style="position:absolute;min-width: 100%;min-height: 100%;top:0;left:0;background:rgba(0,0,0,0.4)"></div>
	<div class="container">
		<div class="sixteen columns" >
			
			<div class="search-container">
  


				<!-- Form -->
				<h2>Find Job</h2>
				<input type="text" class="ico-01" placeholder="job title, keywords or company name" value=""/>
				<input type="text" class="ico-02" placeholder="city, province or region" value=""/>
				<button><i class="fa fa-search"></i></button>

				<!-- Browse Jobs -->
				<div class="browse-jobs">
					Browse job offers by <a href="browse-categories.html"> category</a> or <a href="#">location</a>
				</div>
				
				<!-- Announce -->
<!-- 				<div class="announce">
					We’ve over <strong>15 000</strong> job offers for you!
				</div> -->

			</div>

		</div>
	</div>
</div>


<!-- Content
================================================== -->

<div style="background-image: url(../assets/images/ggh.jpg);background-size: 1500px">
<!-- Categories -->
<div class="container">
	<div class="sixteen columns">
		<h3 class="margin-bottom-20 margin-top-10">Popular Categories</h3>

<div >
		
		<div class="margin-bottom-20"></div>

		<!-- Tabs Navigation -->
		<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="sport-tab" data-toggle="tab" data-target="#sport" role="tab" a>Role By Sport</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="department-tab" data-toggle="tab" data-target="#department" role="tab">Role By Department</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="city-tab" data-toggle="tab" data-target="#city" role="tab" >Role By City</a>
  </li>
</ul>
		<!-- Tabs Content -->
		<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="sport" role="tabpanel">
  	<div class="categories-boxes-container">
				
				<!-- Box -->
				<a href="" ng-click="division('all')" class="category-small-box">
					<i class="ln ln-icon-Globe"></i>
					<h4>TRECKING</h4>
					<span>32</span>
				</a>

				<!-- Box -->
				<a href="" ng-click="division('retail')" class="category-small-box">
					<i class="ln  ln-icon-Business-ManWoman"></i>
					<h4>RUNNING</h4>
					<span>76</span>
				</a>

				<!-- Box -->
				<a href="" ng-click="division('communication')" class="category-small-box">
					<i class="ln  ln-icon-Computer"></i>
					<h4>GYM</h4>
					<span>31</span>
				</a>

				<!-- Box -->
				<a href="" ng-click="division('design')" class="category-small-box">
					<i class="ln  ln-icon-Edit"></i>
					<h4>FOOTBALL</h4>
					<span>76</span>
				</a>

				<!-- Box -->
				<a href="" ng-click="division('ecommerce')"class="category-small-box">
					<!-- <i class="ln ln-icon-Medical-Sign"></i> -->
					<i class="ln ln-icon-Add-Cart"></i>
					<h4>SKATEBOARDING</h4>
					<span>32</span>
				</a>

				<!-- Box -->
				<a href="" ng-click="division('finance')" class="category-small-box">
					<i class="ln ln-icon-Money-Bag"></i>
					<h4>CYCLING</h4>
					<span>67</span>
				</a>

				<!-- Box -->
				<a href="" ng-click="division('real estate')" class="category-small-box">
					<i class="ln ln-icon-Building"></i>
					<h4>CRICKET</h4>
					<span>45</span>
				</a>

				<!-- Box -->
				<a href="" ng-click="division('it')" class="category-small-box">
					<i class="ln   ln-icon-Laptop-3"></i>
					<h4>SWIMMING</h4>
					<span>96</span>
				</a>

				<a href="" ng-click="division('production')" class="category-small-box">
					<i class="ln  ln-icon-Worker"></i>
					<h4>VOLLEYBALL</h4>
					<span>96</span>
				</a>

				<a href=""  ng-click="division('hr')"class="category-small-box">
					<i class="ln   ln-icon-Paper"></i>
					<h4>BADMINTON</h4>
					<span>96</span>
				</a>

				<a href=""  ng-click="division('supply')"class="category-small-box">
					<i class="ln ln-icon-Car"></i>
					<h4>AMERICAN FOOTBALL</h4>
					<span>96</span>
				</a>


			</div>

		<div class="clearfix"></div>
		<div class="margin-top-30"></div>

		<a href="browse-categories.html" class="button centered">Browse All Categories</a>
		<div class="margin-bottom-55"></div>

  </div>


  <div class="tab-pane fade" id="department" role="tabpanel" >
  	<div class="categories-boxes-container">
				
				<!-- Box -->
				<a href="" ng-click="division('all')" class="category-small-box">
					<i class="ln ln-icon-Globe"></i>
					<h4>ALL Division</h4>
					<span>32</span>
				</a>

				<!-- Box -->
				<a href="" ng-click="division('retail')" class="category-small-box">
					<i class="ln  ln-icon-Business-ManWoman"></i>
					<h4>Retail</h4>
					<span>76</span>
				</a>

				<!-- Box -->
				<a href="" ng-click="division('communication')" class="category-small-box">
					<i class="ln  ln-icon-Computer"></i>
					<h4>Communication</h4>
					<span>31</span>
				</a>

				<!-- Box -->
				<a href="" ng-click="division('design')" class="category-small-box">
					<i class="ln  ln-icon-Edit"></i>
					<h4>Design</h4>
					<span>76</span>
				</a>

				<!-- Box -->
				<a href="" ng-click="division('ecommerce')"class="category-small-box">
					<!-- <i class="ln ln-icon-Medical-Sign"></i> -->
					<i class="ln ln-icon-Add-Cart"></i>
					<h4>E-commerce</h4>
					<span>32</span>
				</a>

				<!-- Box -->
				<a href="" ng-click="division('finance')" class="category-small-box">
					<i class="ln ln-icon-Money-Bag"></i>
					<h4>Finance</h4>
					<span>67</span>
				</a>

				<!-- Box -->
				<a href="" ng-click="division('real estate')" class="category-small-box">
					<i class="ln ln-icon-Building"></i>
					<h4>Real Estate</h4>
					<span>45</span>
				</a>

				<!-- Box -->
				<a href="" ng-click="division('it')" class="category-small-box">
					<i class="ln   ln-icon-Laptop-3"></i>
					<h4>IT</h4>
					<span>96</span>
				</a>

				<a href="" ng-click="division('production')" class="category-small-box">
					<i class="ln  ln-icon-Worker"></i>
					<h4>Production</h4>
					<span>96</span>
				</a>

				<a href=""  ng-click="division('hr')"class="category-small-box">
					<i class="ln   ln-icon-Paper"></i>
					<h4>Human Rescources</h4>
					<span>96</span>
				</a>

				<a href=""  ng-click="division('supply')"class="category-small-box">
					<i class="ln ln-icon-Car"></i>
					<h4>Supply/Logistics</h4>
					<span>96</span>
				</a>


			</div>

		<div class="clearfix"></div>
		<div class="margin-top-30"></div>

		<a href="browse-categories.html" class="button centered">Browse All Categories</a>
		<div class="margin-bottom-55"></div>

  </div>


  <div class="tab-pane fade" id="city" role="tabpanel">
  	<div class="categories-boxes-container">
				
				<!-- Box -->
				<a href="" ng-click="division('all')" class="category-small-box">
					<i class="ln ln-icon-Globe"></i>
					<h4>New Cairo</h4>
					<span>32</span>
				</a>

				<!-- Box -->
				<a href="" ng-click="division('retail')" class="category-small-box">
					<i class="ln  ln-icon-Business-ManWoman"></i>
					<h4>Sheraton</h4>
					<span>76</span>
				</a>

				<!-- Box -->
				<a href="" ng-click="division('communication')" class="category-small-box">
					<i class="ln  ln-icon-Computer"></i>
					<h4>6th October</h4>
					<span>31</span>
				</a>

				<!-- Box -->
				<a href="" ng-click="division('design')" class="category-small-box">
					<i class="ln  ln-icon-Edit"></i>
					<h4>Nasr City</h4>
					<span>76</span>
				</a>




			</div>

		<div class="clearfix"></div>
		<div class="margin-top-30"></div>

		<a href="browse-categories.html" class="button centered">Browse All Categories</a>
		<div class="margin-bottom-55"></div>

  </div>
</div>
</div></div>


			<!-- Popular Categories -->
				</div>
</div>

</div>

<div class="container">
	<div class="row">
	
	<!-- Recent Jobs -->
	<div class="col-md-8">
	<div class="padding-right">
		<h3 class="margin-bottom-25">Recent Jobs</h3>
		<div class="listings-container">
			
			<!-- Listing -->
			<a href="job-page-alt.html" class="listing full-time">
				<div class="listing-logo">
					<img src="../assets/images/job-list-logo-01.png" alt="">
				</div>
				<div class="listing-title">
					<h4>Retail Supplier Customs Zone <span class="listing-type">Full-Time</span></h4>
					<ul class="listing-icons">
						<li><i class="ln ln-icon-Management"></i> CFC</li>
						<li><i class="ln ln-icon-Map2"></i> Cairo</li>
						<li><i class="ln ln-icon-Money-2"></i> 5000 - 7000</li>
						<li><div class="listing-date new">new</div></li>
					</ul>
				</div>
			</a>
			
			<!-- Listing -->
			<a href="job-page.html" class="listing part-time">
				<div class="listing-logo">
					<img src="../assets/images/job-list-logo-02.png" alt="">
				</div>
				<div class="listing-title">
					<h4>Customer Service/Sales Assistant  <span class="listing-type">Part-Time</span></h4>
					<ul class="listing-icons">
						<li><i class="ln ln-icon-Management"></i> District</li>
						<li><i class="ln ln-icon-Map2"></i> Cairo</li>
						<li><i class="ln ln-icon-Money-2"></i>  5000 - 7000</li>
						<li><div class="listing-date">3d ago</div></li>
					</ul>
				</div>
			</a>

			<!-- Listing -->
			<a href="job-page-alt.html" class="listing full-time">
				<div class="listing-logo">
					<img src="../assets/images/job-list-logo-01.png" alt="">
				</div>
				<div class="listing-title">
					<h4>Logistics Operations Security Manager  <span class="listing-type">Full-Time</span></h4>
					<ul class="listing-icons">
						<li><i class="ln ln-icon-Management"></i> Logistica</li>
						<li><i class="ln ln-icon-Map2"></i> 6TH October</li>
						<li><div class="listing-date">3d ago</div></li>
					</ul>
				</div>
			</a>

			<!-- Listing -->
			<a href="job-page.html" class="listing full-time">
				<div class="listing-logo">
					<img src="../assets/images/job-list-logo-04.png" alt="">
				</div>
				<div class="listing-title">
					<h4>Production Leader - Supply chain <span class="listing-type">Full-Time</span></h4>
					<ul class="listing-icons">
						<li><i class="ln ln-icon-Management"></i> Heliopolis</li>
						<li><i class="ln ln-icon-Map2"></i> Cairo</li>
						<li><div class="listing-date">4d ago</div></li>
					</ul>
				</div>
			</a>

			
		</div>

		<a href="browse-jobs.html" class="button centered"><i class="fa fa-plus-circle"></i> Show More Jobs</a>
		<div class="margin-bottom-55"></div>
	</div>
	</div>

	<!-- Job Spotlight -->
	<div class="col-md-4">
		<h3 class="margin-bottom-5">Job Spotlight</h3>

		<!-- Navigation -->
		<div class="showbiz-navigation">
			<div id="showbiz_left_1" class="sb-navigation-left"><i class="fa fa-angle-left"></i></div>
			<div id="showbiz_right_1" class="sb-navigation-right"><i class="fa fa-angle-right"></i></div>
		</div>
		<div class="clearfix"></div>
		
		<!-- Showbiz Container -->
		<div id="job-spotlight" class="showbiz-container">
			<div class="showbiz" data-left="#showbiz_left_1" data-right="#showbiz_right_1" data-play="#showbiz_play_1" >
				<div class="overflowholder">

					<ul>

						<li>
							<div class="job-spotlight">
								<a href="#"><h4>Social Media: Advertising Coordinator <span class="part-time">Part-Time</span></h4></a>
								<span><i class="fa fa-briefcase"></i> CFC</span>
								<span><i class="fa fa-map-marker"></i>Cairo</span>
								<span><i class="fa fa-money"></i> 5000-7000</span>
								<p>As advertising & content coordinator, you will support our social media team in producing high quality social content for a range of media channels.</p>
								<a href="job-page.html" class="button">Apply For This Job</a>
							</div>
						</li>

						<li>
							<div class="job-spotlight">
								<a href="#"><h4>Sport Leader  <span class="full-time">Full-Time</span></h4></a>
								<span><i class="fa fa-briefcase"></i> CFC</span>
								<span><i class="fa fa-map-marker"></i> Cairo</span>
								<span><i class="fa fa-money"></i> 5000-7000 / c</span>
								<p>As a sport leader, you will be managing your sport players and ensuring .........</p>
								<a href="job-page.html" class="button">Apply For This Job</a>
							</div>
						</li>

						<li>
							<div class="job-spotlight">
								<a href="#"><h4>Sport Player  <span class="part-time">Part-Time</span></h4></a>
								<span><i class="fa fa-briefcase"></i> CFC</span>
								<span><i class="fa fa-map-marker"></i> Cairo</span>
								<span><i class="fa fa-money"></i> 5000-7000 / c</span>
								<p>As a sport Player, you will be responsible on volleyball and ensuring .........</p>
								<a href="job-page.html" class="button">Apply For This Job</a>
							</div>
						</li>


					</ul>
					<div class="clearfix"></div>

				</div>
				<div class="clearfix"></div>
			</div>
		</div>

	</div>
</div>
</div>

<div class="parallax" style="height: 400px">
	<br>
	<br>
</div>
<!-- hereeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
 --><!-- <div id="counters">
	<div class="container">

		<div class="four columns">
			<div class="counter-box">
				<span class="counter">50</span>
				<p>Job Offers</p>
			</div>
		</div>

		<div class="four columns">
			<div class="counter-box">
				<span class="counter">200</span>
				<p>Members</p>
			</div>
		</div>

		<div class="four columns">
			<div class="counter-box">
				<span class="counter">500</span>
				<p>Resumes Posted</p>
			</div>
		</div>

		<div class="four columns">
			<div class="counter-box">
				<span class="counter">10</span><i>k</i>
				<p>Customers</p>
			</div>
		</div>

	</div>
</div> -->
<section class="fullwidth-testimonial margin-top-15" style="background-image: url(../assets/images/4banner.jpg)">

	<!-- Info Section -->
	<div class="container">
		<div class="sixteen columns">
			<h3 class="headline centered" style="color: #004876">
				What Our Emlpoyees Say !
				<span class="margin-top-25" style="color: #EC6607">We collect reviews from our employees so you can get an honest opinion of what an experience with Decathlon Egypt are really like!</span>
			</h3>
		</div>
	</div>
	<!-- Info Section / End -->

	<!-- Testimonials Carousel -->
	<div class="fullwidth-carousel-container margin-top-20">
		<div class="testimonial-carousel testimonials" style="background-color: white">
			
			<!-- Item -->
			<div class="fw-carousel-review">
				<div class="testimonial-box">
					<div class="testimonial">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</div>
				</div>
				<div class="testimonial-author">
					<img src="../assets/images/cherif.png" alt="">
					<h4>Cherif Fawzy <span>Ecommerce Leader</span></h4>
				</div>
			</div>

			<!-- Item -->
			<div class="fw-carousel-review">
				<div class="testimonial-box">
					<div class="testimonial">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</div>
				</div>
				<div class="testimonial-author">
					<img src="../assets/images/salma.png" alt="">
					<h4>Salma Hamdy <span>Running Sport Leader</span></h4>
				</div>
			</div>

			<!-- Item -->
			<div class="fw-carousel-review">
				<div class="testimonial-box">
					<div class="testimonial">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</div>
				</div>
				<div class="testimonial-author">
					<img src="../assets/images/heba.png" alt="">
					<h4>Heba Elshawarby <span>Web developer</span></h4>
				</div>
			</div>


		</div>
	</div>
	<!-- Testimonials Carousel / End -->

</section>


<!-- Flip banner -->
<a href="browse-jobs.html" class="flip-banner margin-bottom-55" data-background="../assets/images/all-categories-photo.jpg" data-color="#0082C3" data-color-opacity="0.93">
	<div class="flip-banner-content">
		<h2 class="flip-visible">Step inside and see for yourself!</h2>
		<h2 class="flip-hidden">Get Started <i class="fa fa-angle-right"></i></h2>
	</div>
</a>
<!-- Flip banner / End -->


<!-- Recent Posts -->
<div class="container">
		<div class="row">

	<div class="sixteen columns">
		<h3 class="margin-bottom-25">Recent Posts</h3>
	</div>
</div>
	<div class="row">
	<div class="col-md-4">

		<!-- Post #1 -->
		<div class="recent-post">
			<div class="recent-post-img"><a href="" ng-click="gotoblog1()" ><img src="../assets/images/ph.png" alt=""></a><div class="hover-icon"></div></div>
			<a href="" ng-click="gotoblog1()"><h4>Hey Job Seeker, Know Decathlon's criteria</h4></a>
			<div class="meta-tags">
				<span>December 13, 2018</span>
<!-- 				<span><a href="#">0 Comments</a></span>
 -->			</div>
			<p>Vitality and responsibility are the 2 main criteria.</p>
			<a href="" ng-click="gotoblog1()" class="button">Read More</a>
		</div>

	</div>


	<div class="col-md-4">

		<!-- Post #2 -->
		<div class="recent-post">
			<div class="recent-post-img"><a href="blog-single-post.html"><img src="../assets/images/emad.png" alt=""></a><div class="hover-icon"></div></div>
			<a href="blog-single-post.html"><h4>How did sport players continue doing sport with Decathlon!</h4></a>
			<div class="meta-tags">
				<span>January 01, 2019</span>
				<span><a href="#">0 Comments</a></span>
			</div>
			<p>Struggling to complete your sport with you Job? No worries!! You can guarantee that you will continune your sport! </p>
			<a href="blog-single-post.html" class="button">Read More</a>
		</div>

	</div>

	<div class="col-md-4">

		<!-- Post #3 -->
		<div class="recent-post">
			<div class="recent-post-img"><a href="blog-single-post.html"><img src="../assets/images/de.png" alt=""></a><div class="hover-icon"></div></div>
			<a href="blog-single-post.html"><h4>Know more about Decathlon</h4></a>
			<div class="meta-tags">
				<span>August 27, 2018</span>
				<span><a href="#">0 Comments</a></span>
			</div>
			<p>Decathlon is a multinational company where it is mainly located in France.</p>
			<a href="blog-single-post.html" class="button">Read More</a>
		</div>
	</div>
</div>


</div>


<!-- Footer
================================================== -->

</div>
<!-- Wrapper / End -->
<script src="assets/js/custom.js"></script>



</body>
