<style type="text/css">
  .parallax {
  /* The image used */
  background-image: url('/assets/images/pic2.jpeg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;}

  .xxx{
  	background-image: url('/assets/images/ss.png');
  }
</style>
<body ng-controller="mainCtrl">



<!-- Header
================================================== -->



<!-- Titlebar
================================================== -->
<br>
<div id="titlebar" style="  	background-image: url('/assets/images/team1.png');height: 400px; z-index: -1" >
	<div class="container ">
		<div class="ten columns">
			<span style="color: white"> <a href="">{{jobcategory}}</a></span>
			<h2 style="color: white;font-size: 70px">{{jobtitle}} <span  class="full-time">{{jobtype}}</span></h2>
		</div>

		<!-- <div class="six columns">
			<a href="#" class="button dark"><i class="fa fa-star"></i> Bookmark This Job</a>
		</div> -->

	</div>
</div>


<!-- Content
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-md-8">
			
	
	<!-- Recent Jobs -->
	<div class="">
	<div class="padding-right">
		
		<!-- Company Info -->
		<div class="company-info">
			<img src="assets/images/icon.png" alt="">
			<div class="content">
				<h4>{{jobtitle}}</h4>
				<h4>Location: {{joblocation}} / {{joblocationdes}}</h4>
				<h4>s</h4>


				<!-- <span><a href="#"><i class="fa fa-link"></i> Website</a></span>
				<span><a href="#"><i class="fa fa-twitter"></i> @kingrestaurants</a></span> -->
			</div>
			<div class="clearfix"></div>
		</div>
			


		<p style=" word-wrap: break-word;" >
			{{jobdescription}}
		</p>

		<br>
		<p> <strong>My Decathlon</strong> Responsibilities include:</p>

		<ul class="list-1">
			<li>I build my Local Sports Project to make my sport accessible to as many as sport users in my catchment.
			</li>
			<li>I manage over all Omni business for my sport</li>
			<li> I interact with like-minded sport users and customers with the objective of satisfy or satisfy user</li>
			<li> I am accountable for merchandising and stock of my sport territory.</li>
			<li> I update my planner including events, workshops and leaves.</li>
			<li>I will guarantee the result of my economic performance with right forecasting and analysis of the results, I say, I do.</li>
		</ul>
		
		<br>

		<h4 class="margin-bottom-10">Who am I?</h4>

		<ul class="list-1">
			<li>I am humble and honest.</li>
			<li>I am motivated by Decathlon vision and share its values vitality & responsibility.</li>
			<li>I am a team player.</li>
			<li>I am challenge oriented.</li>
			<li>I am cost conscious.</li>
			<li>I am autonomous to take decisions myself.</li>
			<li>I am versatile & can multitask.</li>
			<li>I am responsive to the needs of the company and my colleagues.</li>
		</ul>

	</div>
	</div>
	</div>
	
	<!-- Widgets -->
		
	<div class="col-md-4">
	<div class="five columns">

		<!-- Sort by -->
		<div class="widget">
			<h4 style="font-size: 55px;color: #0082C3">APPLY NOW!</h4>

			
				
					
					

				<form  ng-submit="Submit(regData)">
							<input type="text" placeholder="Full Name" value="" ng-model="regData.fullname"/>
							<input type="text" placeholder="Email Address" value="" ng-model="regData.email" />
							<input type="text" placeholder="Phone" value="" ng-model="regData.phone" />
							<input type="text" placeholder="Sport" value="" ng-model="regData.sport" />
							<textarea placeholder="Your message / cover letter sent to the employer" ng-model="regData.description"></textarea>

							<!-- Upload CV -->
							<div class="upload-info"><strong>Upload your CV (optional)</strong> <span>Max. file size: 5MB</span></div>
							<div class="clearfix"></div>

							<label class="upload-btn">
   <input type="file" name="myfile" file-model="myfile.upload" class="form-control input-lg" placeholder="Enter CV" >Browse
							</label>

							<div class="divider"></div>

							<button class="send" data-toggle="modal" data-target="#myModal">Send Application</button>
						</form>
						<br>

							<div class="row show-hide-message" ng-show="errorMsg">
							<div class="alert alert-danger">
								{{errorMsg }}
							</div>
							
						</div>
			<br>	
						<div class="row show-hide-message" ng-show="successMsg">
							<div class="alert alert-success">
								{{successMsg}}
							</div>
							
						</div>

						<br>	
						<div class="row show-hide-message" ng-show="successMsg1">
							<div class="alert alert-warning">
								{{successMsg1}
							</div>
							
						</div>

						

 

<!--  -->


					
				</div>

			</div>

		</div>

	</div>
	<!-- Widgets / End -->

	</div>

</div>




</div>
<!-- Wrapper / End -->







</body>
<div class="parallax" style="height: 400px">
	<br>
	<br>
</div>
