

<body>
<div id="wrapper">


<!-- Header
================================================== -->



<!-- Titlebar
================================================== -->
<div id="titlebar" class="single">
	<div class="container">

		<div class="sixteen columns">
			<h2>My Account</h2>
			<nav id="breadcrumbs">
				<ul>
					<li>You are here:</li>
					<li><a href="#">Home</a></li>
					<li>My Account</li>
				</ul>
			</nav>
		</div>

	</div>
</div>


<!-- Content
================================================== -->

<!-- Container -->
<div class="container">

	<div class="my-account">



		<div class="tabs-container">
			<!-- Login -->
			<div class="tab-content" id="tab1">
				<form  ng-submit="mainCtrl.doLogin(data)">

					<p class="form-row form-row-wide" style="margin-left: 10px">
						<label for="username">Username:
							<i class="ln ln-icon-Male"></i>
							<input type="text" class="input-text" name="username" id="username" value="" ng-model="data.fullname"/>
						</label>
					</p>

					<p class="form-row form-row-wide" style="margin-left: 10px">
						<label for="password">Password:
							<i class="ln ln-icon-Lock-2"></i>
							<input class="input-text" type="password" name="password" id="password" ng-model="data.password"/>
						</label>
					</p>

					<p class="form-row" style="margin-left: 10px">
						<button class="button border fw margin-top-10"> Submit</button> 

						
					</p>

					
					
				</form>
			</div>

			
		</div>
	</div>
</div>






</div>



</body>
