

<!-- Titlebar
================================================== -->
<div id="titlebar" class="single">
	<div class="container">

		<div class="sixteen columns">
			<h2>Manage Jobs</h2>
			<nav id="breadcrumbs">
				<ul>
					<li>You are here:</li>
					<li><a href="#">Home</a></li>
					<li>Job Dashboard</li>
				</ul>
			</nav>
		</div>

	</div>
</div>


<!-- Content
================================================== -->
<div class="container" ng-controller="mainCtrl">
	
	<!-- Table -->
	<div class="sixteen columns">

		<p class="margin-bottom-25">Your listings are shown in the table below.</p>

		<table class="manage-table responsive-table" id="table">

			<tr>
				<th><i class="fa fa-file-text"></i> Title</th>
				<th><i class="fa fa-calendar"></i> Sport</th>
				<th><i class="fa fa-file-text"></i> Location</th>
				<th><i class="fa fa-calendar"></i> Type</th>
				<th><i class="fa fa-calendar"></i> Category</th>
				<!-- <th><i class="fa fa-user"></i> Applications</th> -->
				<th></th>
			</tr>
					<div class="widget">
			<h4>Type Location, sport, category to filter</h4>
			<form >
				<input type="text" placeholder="Enter a keyword" value="" ng-model="searchkey"/>
				

				
				<button class="button">Filter</button>
			</form>
		</div>

	
			<tr ng-repeat="x in management.jobs | filter:searchkey">
				<td class="title"><a href="#" ng-click="getOneJob(x)" >{{x.jobtitle}}</a></td>
     		    <td>{{x.sport}}</td>
                <td>{{x.location}}</td>
                <td>{{x.jobtype}}</td>
                <td>{{x.category}}</td>
<!-- 				<td class="centered"><a href="manage-applications.html" class="button">Show (4)</a></td>
 -->				<td class="action">
					<a href=""><i class="fa fa-pencil" ng-click="getOneJob(x)"></i> View</a>
					<a href=""  ng-click="management.deleteJob(x._id)"class="delete"><i class="fa fa-remove"></i> Delete</a>
				</td>
			</tr>	

			<!-- Item #2 -->
<!-- 			<tr>
				<td class="title"><a href="#">Production Leader</a></td>
				<td>December 16, 2018</td>
				<td>January 30, 2018</td>
				<td class="centered"><a href="manage-applications.html" class="button">Show (9)</a></td>
				<td class="action">
<a href="#"><i class="fa fa-pencil"></i> Edit</a>
					<a href="#" class="delete"><i class="fa fa-remove"></i> Delete</a>				</td>
			</tr> -->

		</table>

		<br>
		<a href="" ng-click="gotojob()" class="button">Add Job</a>


	</div>

</div>


<!-- Footer
================================================== -->


</div>


</body>

