<div class="fullwidthbanner-container">
	<div class="fullwidthbanner">
		<ul>




	<li data-transition="slideup" data-slotamount="10" data-masterspeed="800">
				<img src="assets/images/banner-02.jpg" alt="">

				<div class="caption title sfb" data-x="center" data-y="195" data-speed="400" data-start="800"  data-easing="easeOutExpo">
					<h2>Thank You for your interest in Decathlon Egypt</h2>
				</div>

				<div class="caption text align-center sfb" data-x="center" data-y="270" data-speed="400" data-start="1200" data-easing="easeOutExpo">
					<p>Decathlon is most trusted job board, connecting the world's <br> brightest minds with resume database loaded with talents.</p>
				</div>

				<div class="caption sfb" data-x="center" data-y="400" data-speed="400" data-start="1600" data-easing="easeOutExpo">
					<a href="" ng-click="gotohome()" class="slider-button">Browse Jobs</a>
					<a href="https://www.decathlon.eg" class="slider-button">Online Shopping</a>
				</div>
			</li>
			<!-- Slide 1 -->
			<li data-fstransition="fade" data-transition="fade" data-slotamount="10" data-masterspeed="300">

				<img src="assets/images/banner-01.jpg" alt="" >

				<div class="caption title sfb" data-x="0" data-y="195" data-speed="400" data-start="800"  data-easing="easeOutExpo">
					<h2>Thank You</h2>
				</div>

				<div class="caption text sfb" data-x="0" data-y="270" data-speed="400" data-start="1200" data-easing="easeOutExpo">
					<p>Your Data have been sent <br>Take a look on the website.</p>
				</div>

				<div class="caption sfb" data-x="0" data-y="400" data-speed="400" data-start="1600" data-easing="easeOutExpo">
					<a href=""  ng-click="gotohome()"  class="slider-button">Browse Jobs</a>
				</div>
			</li>

			<!-- Slide 2 -->
		

		</ul>
	</div>
</div>